<a href="https://colab.research.google.com/github/leilaamani/Machine-learning/blob/main/Pandas_Library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import io

# **Series**

In [ ]:
age = pd.Series(data=[19,20,20,22,23],index=['Reza','Leila','Zahra','Akbar','Amir'],dtype=np.int8)
age

Reza     19
Leila    20
Zahra    20
Akbar    22
Amir     23
dtype: int8

In [ ]:
age.name='Age of student'
age

Reza     19
Leila    20
Zahra    20
Akbar    22
Amir     23
Name: Age of student, dtype: int8

In [ ]:
age.values

array([19, 20, 20, 22, 23], dtype=int8)

In [ ]:
age.value_counts()

20    2
19    1
22    1
23    1
Name: Age of student, dtype: int64

In [ ]:
age.index

Index(['Reza', 'Leila', 'Zahra', 'Akbar', 'Amir'], dtype='object')

In [ ]:
age[['Leila','Zahra']]

Leila    20
Zahra    20
Name: Age of student, dtype: int8

In [ ]:
age[0:3]

Reza     19
Leila    20
Zahra    20
Name: Age of student, dtype: int8

In [ ]:
age['Leila':'Akbar']

Leila    20
Zahra    20
Akbar    22
Name: Age of student, dtype: int8

# **Conditional Selection**:

In [ ]:
age>21

Reza     False
Leila    False
Zahra    False
Akbar     True
Amir      True
Name: Age of student, dtype: bool

In [ ]:
age[(age<24) & (age>age.mean())]

Akbar    22
Amir     23
Name: Age of student, dtype: int8

In [ ]:
age[::-1]

Amir     23
Akbar    22
Zahra    20
Leila    20
Reza     19
Name: Age of student, dtype: int8

In [ ]:
age.sort_values(ascending=False)

Amir     23
Akbar    22
Leila    20
Zahra    20
Reza     19
Name: Age of student, dtype: int8

# **Data Frame**

In [12]:
from google.colab import drive 
drive.mount('/content/gdrive')
battery_df=pd.read_csv('/content/battery data.csv')
battery_df

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg)
0,1,10.015435,06/15/2015 09:35:19,10.015436,1,1,0.0,3.819702,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0
1,2,20.030951,06/15/2015 09:35:29,20.030952,1,1,0.0,3.819540,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0
2,3,30.046453,06/15/2015 09:35:39,30.046454,1,1,0.0,3.819702,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0
3,4,40.062081,06/15/2015 09:35:49,40.062082,1,1,0.0,3.819540,0.000000,0.000000,0.000000,0.000000,-0.000032,0.000000,0,0,0
4,5,50.077512,06/15/2015 09:35:59,50.077513,1,1,0.0,3.819702,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2662,2663,26611.964450,06/15/2015 16:58:43,260.403539,12,1,0.0,4.196526,2.300978,1.550495,9.201068,5.787787,0.000032,0.060685,0,0,0
2663,2664,26621.979970,06/15/2015 16:58:53,270.419059,12,1,0.0,4.196526,2.300978,1.550495,9.201068,5.787787,0.000000,0.060685,0,0,0
2664,2665,26631.995630,06/15/2015 16:59:03,280.434717,12,1,0.0,4.196688,2.300978,1.550495,9.201068,5.787787,0.000065,0.060685,0,0,0
2665,2666,26642.011030,06/15/2015 16:59:13,290.450118,12,1,0.0,4.196364,2.300978,1.550495,9.201068,5.787787,0.000000,0.060685,0,0,0
2666,2667,26651.573440,06/15/2015 16:59:22,300.012532,12,1,0.0,4.196364,2.300978,1.550495,9.201068,5.787787,0.000000,0.060685,0,0,0

In [4]:
battery_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2667 entries, 0 to 2666
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data_Point                2667 non-null   int64
 1   Test_Time(s)              2667 non-null   float64
 2   Date_Time                 2667 non-null   object
 3   Step_Time(s)              2667 non-null   float64
 4   Step_Index                2667 non-null   int64
 5   Cycle_Index               2667 non-null   int64
 6   Current(A)                2667 non-null   float64
 7   Voltage(V)                2667 non-null   float64
 8   Charge_Capacity(Ah)       2667 non-null   float64
 9   Discharge_Capacity(Ah)    2667 non-null   float64
 10  Charge_Energy(Wh)         2667 non-null   float64
 11  Discharge_Energy(Wh)      2667 non-null   float64
 12  dV/dt(V/s)                2667 non-null   float64
 13  Internal_Resistance(Ohm)  2667 non-null   float64
 14  Is_FC_Data                2667 non-null   int64
 15  AC_Impedance(Ohm)         2667 non-null   int64
 16  ACI_Phase_Angle(Deg)      2667 non-null   int64
dtypes: float64(10), int64(6), object(1)
memory usage: 354.3+ KB

In [5]:
battery_df.head(3)

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg)
0,1,10.015435,06/15/2015 09:35:19,10.015436,1,1,0.0,3.819702,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
1,2,20.030951,06/15/2015 09:35:29,20.030952,1,1,0.0,3.819540,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
2,3,30.046453,06/15/2015 09:35:39,30.046454,1,1,0.0,3.819702,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0

In [22]:
pd.options.display.min_rows=10
data_using=pd.read_csv('battery data.csv',usecols=['Step_Index','Cycle_Index',
                       'Current(A)','Voltage(V)','Charge_Capacity(Ah)','Discharge_Capacity(Ah)'])
data_using

,Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah)
0,1,1,0.0,3.819702,0.000000,0.000000
1,1,1,0.0,3.819540,0.000000,0.000000
2,1,1,0.0,3.819702,0.000000,0.000000
3,1,1,0.0,3.819540,0.000000,0.000000
4,1,1,0.0,3.819702,0.000000,0.000000
...,...,...,...,...,...,...
2662,12,1,0.0,4.196526,2.300978,1.550495
2663,12,1,0.0,4.196526,2.300978,1.550495
2664,12,1,0.0,4.196688,2.300978,1.550495
2665,12,1,0.0,4.196364,2.300978,1.550495
2666,12,1,0.0,4.196364,2.300978,1.550495

In [41]:
data_using['Voltage(V)'].max()
data_using['Voltage(V)'].min()
print('max_voltage=', data_using['Voltage(V)'].max())
print('min_voltage=', data_using['Voltage(V)'].min())

max_voltage= 4.20008707
min_voltage= 2.749928951

In [42]:
battery_df.columns

Index(['Data_Point', 'Test_Time(s)', 'Date_Time', 'Step_Time(s)', 'Step_Index',
       'Cycle_Index', 'Current(A)', 'Voltage(V)', 'Charge_Capacity(Ah)',
       'Discharge_Capacity(Ah)', 'Charge_Energy(Wh)', 'Discharge_Energy(Wh)',
       'dV/dt(V/s)', 'Internal_Resistance(Ohm)', 'Is_FC_Data',
       'AC_Impedance(Ohm)', 'ACI_Phase_Angle(Deg)'],
      dtype='object')

In [43]:
battery_df.index

RangeIndex(start=0, stop=2667, step=1)

In [45]:
battery_df.shape

(2667, 17)

In [48]:
data_using.describe()

,Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah)
count,2667.000000,2667.0,2667.000000,2667.000000,2667.000000,2667.000000
mean,6.582302,1.0,0.100993,3.971876,1.146621,0.896948
std,2.879727,0.0,0.598050,0.251458,0.665856,0.688987
min,1.000000,1.0,-0.750195,2.749929,0.000000,0.000000
25%,3.000000,1.0,-0.749648,3.814603,0.761941,0.000000
50%,6.000000,1.0,0.092922,4.027052,0.764853,1.211904
75%,9.000000,1.0,0.749893,4.199763,1.750757,1.550495
max,12.000000,1.0,0.750440,4.200087,2.300978,1.550495

In [50]:
battery_df.describe(include='O')

                  Date_Time
count                  2667
unique                 2665
top     06/15/2015 11:35:34
freq                      2