<a href="https://colab.research.google.com/github/leilaamani/Machine-learning/blob/main/Pandas_Library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# **Series**

In [2]:
age = pd.Series(data=[19,20,20,22,23],index=['Reza','Leila','Zahra','Akbar','Amir'],dtype=np.int8)
age

Reza     19
Leila    20
Zahra    20
Akbar    22
Amir     23
dtype: int8

In [4]:
age.name='Age of student'
age

Reza     19
Leila    20
Zahra    20
Akbar    22
Amir     23
Name: Age of student, dtype: int8

In [5]:
age.values

array([19, 20, 20, 22, 23], dtype=int8)

In [6]:
age.value_counts()

20    2
19    1
22    1
23    1
Name: Age of student, dtype: int64

In [7]:
age.index

Index(['Reza', 'Leila', 'Zahra', 'Akbar', 'Amir'], dtype='object')

In [9]:
age[['Leila','Zahra']]

Leila    20
Zahra    20
Name: Age of student, dtype: int8

In [10]:
age[0:3]

Reza     19
Leila    20
Zahra    20
Name: Age of student, dtype: int8

In [11]:
age['Leila':'Akbar']

Leila    20
Zahra    20
Akbar    22
Name: Age of student, dtype: int8

# **Conditional Selection**:

In [12]:
age>21

Reza     False
Leila    False
Zahra    False
Akbar     True
Amir      True
Name: Age of student, dtype: bool

In [14]:
age[(age<24) & (age>age.mean())]

Akbar    22
Amir     23
Name: Age of student, dtype: int8

In [15]:
age[::-1]

Amir     23
Akbar    22
Zahra    20
Leila    20
Reza     19
Name: Age of student, dtype: int8

In [18]:
age.sort_values(ascending=False)

Amir     23
Akbar    22
Leila    20
Zahra    20
Reza     19
Name: Age of student, dtype: int8